<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--内网-->
  <add name="LksForIcasContext" connectionString="Data Source=172.31.27.22\Sql2012;Initial Catalog=LksForIcas;Persist Security Info=True;User ID=kaifa;Password=[LksDev.KaiFa.~~!!QQ];Max Pool Size=10000;MultipleActiveResultSets=True;Connect Timeout=60" providerName="System.Data.SqlClient" />
</connectionStrings>